body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


#geral-container{
    height: 100%;
    display: flex;
}


#informacoes-pessoais{
    background-color: rgb(28, 95, 81);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 30%;
    
}

#outras-informacoes p{
    text-align: justify;
    font-size: 20px;
}


.foto-perfil{
    /* height: 33.3%; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem{
    height: 200px;
    width: 170px;
}
.imagem img{
    height: 100%;
    width: 100%; 
    
}


.dados-pessoais,
.habilidades,
.informacoes-adicionais{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
}

.icones-dados,
.icones-habilidades,
.icones-informacoes{
    display: inline-block; 
    font-size: 15px;
    padding-left: 10px;
}

.icones-dados span,
.icones-habilidades span,
.icones-informacoes span{
    font-size: 17px;
    padding-left: 2px;
}

.icones-dados a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.dados-pessoais h2,
.habilidades h2,
.informacoes-adicionais h2{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    font-size: 20px;
}

.dados-pessoais,
.habilidades,
.informacoes-adicionais{
    /* height: 22.2%; */
    /* width: 90%; */
    font-size: 13px;
    color: #fff;
    border-top: 2px solid #fff;
    margin-left: 5%;
    margin-right: 5%;
    
}

/* .habilidades{
    height: 33%;
} */



/* ----------------------------------------- */

#outras-informacoes{
    background-color: #fff;
    /* height: 100%; */
    width: 70%;
    display:flex;
    flex-direction: column;
}

.resumo h2,
.experiencia h2,
.formacao h2{
    padding: 0;
    margin:0;
    padding-top: 10px; 
    font-size: 25px;
}

.resumo,
.experiencia,
.formacao{
    /* height: 27%; */
    /* width: 90%; */
    margin-left: 2%;
    margin-right: 8%;
    margin-bottom: 30px;
    border-top: 2px solid #000; 
}

.resumo{
    border: none;
    margin-top: 25px;
}


/* ----------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 480px){
    #geral-container{
        display: flex;
        flex-direction: column;
        
    }

    #informacoes-pessoais{
        width: 100%;
        display: inline-block;
    }

    #outras-informacoes{
        width: 100%;
        display: inline-block;
    }
    
    .informacoes-adicionais{
        margin-bottom: 40px;
    }

    .experiencia h2{
        font-size: 19.5px;
    }

    .formacao h2{
        font-size: 22px;
    }
}




@media (min-width: 481px) and (max-width: 768px){
    #geral-container{
        display: flex;
        flex-direction: column;
        
    }

    #informacoes-pessoais{
        width: 100%;
        display: inline-block;
    }

    #outras-informacoes{
        width: 100%;
        display: inline-block;
    }

    .informacoes-adicionais{
        margin-bottom: 40px;
    }
}




@media (min-width: 769px) and (max-width: 1024px) { 
   #informacoes-pessoais{
        width: 50%;
        height: 139.2%;
   }
}




@media (min-width: 1025px) and (max-width: 1440px) {
    #informacoes-pessoais{
        width: 35%;
        height: 110%;
   }
}




@media (min-width: 1441px) {
    #informacoes-pessoais{
        width: 35%;
    }

    .dados-pessoais h2,
    .habilidades h2,
    .informacoes-adicionais h2{
        font-size: 25px;
    }

    .icones-dados,
    .icones-habilidades,
    .icones-informacoes{
        font-size: 20px;
    }

    .icones-dados span,
    .icones-habilidades span,
    .icones-informacoes span{
        font-size: 22px;
    }

    .dados-pessoais a{
        font-size: 22px;
    }

    .resumo h2,
    .experiencia h2,
    .formacao h2{
        font-size: 30px;
    }
    
    #outras-informacoes p{
        font-size: 25px;
    }
}